

.full-screen {
  width: 100vw;
  height: 100vh;
  background-color: #6abf69;
  margin: 0;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 0%;
  height: 100%;
  animation-name: wider;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-direction: reverse;
  animation-iteration-count: 3;
  /*animation-iteration-count: infinite;*/
}

@keyframes wider {
/*  from { width: 0% }
  to { width: 100% }*/
  0% { width: 0% }
  50% { width: 100% }
  100% { width: 0% }
}
